venv
node_modules
.env
db.env

application/.env
serverless.yml
package-lock.json
package.json
.idea
instance/database.db
migrations
static/bootstrap/bootstrap4

*/.env
tests/data
tests/geckodriver.log
tests/users.py
tests/misc/