Flask
Flask-HTTPAuth
Flask-Login
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF

psycopg2
psycopg2-binary
py-algorand-sdk

python-dotenv
SQLAlchemy
tomlkit
typing_extensions
Werkzeug
WTForms
Flask-Admin