{% extends 'layout.html' %}

{% block content %}
    <div class="mt-5">
        <h4>Account Details</h4>
        <table class="table">
            <tbody>
            <tr>
                <td colspan="2">Address</td>
                <td>{{ address }}</td>
            </tr>
            <tr>
                <td colspan="2">Balance</td>
                <td><b>{{ balance }}</b> <span class="badge text-white bg-primary">Algos</span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-3 pt-2 d-none" id="msg"></div>

    <div class="d-none" id="loadersp">
        <div class="d-flex justify-content-center " >
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h4>My Policies</h4>
        {#<table class="table">

            <tr>
                <th>Name</th>
                <th>start</th>
                <th>end</th>
                <th>Description</th>
                <th>Premium</th>
                <th>Coverage Amount</th>
                <th>Strike Event</th>
            </tr>
            <tbody>
            {% for policy in policies %}
                <tr>
                    <td>{{ policy.name }}</td>
                    <td>{{ policy.start_date }}</td>
                    <td>{{ policy.end_date }}</td>
                    <td>{{ policy.description }}</td>
                    <td>{{ policy.premium }}</td>
                    <td>{{ policy.coverage_amount }}</td>
                <td>{{ policy.strike_event[0].desc }}</td>
                </tr>

            {% endfor %}

            </tbody>
        </table>#}
        <div class="mt-1" id="tableData"></div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            let tableData = [];
            loadData();

            function loadData() {
                $.ajax({
                    url: '/mypolicies',
                    type: 'GET',
                    success: function (response) {
                        tableData = response;

                        let tableRows = `
                    <table class="table" id="bookedDatesTable">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>start</th>
                            <th>end</th>
                            <th>Description</th>
                            <th>Premium</th>
                            <th>Coverage Amount</th>
                            <th>Strike Event</th>
                        </tr>
                        </thead>
                        <tbody>`;
                        for (let i in tableData) {
                            let highlightClass = tableData[i].myPolicy ? 'row-highlighted' : '';

                            tableRows += `
                         <tr class="${highlightClass}">
                            <td class="">${tableData[i].name}</td>
                            <td class="">${tableData[i].start_date}</td>
                            <td class="">${tableData[i].end_date}</td>
                            <td class="text-primary">${tableData[i].description}</td>
                            <td class="">${tableData[i].premium}</td>
                            <td class="">${tableData[i].coverage_amount}</td>
                             <td class="">${tableData[i].strike_event}</td>
                            <td class="text-center">`;
                            if (tableData[i].myPolicy) {

                                tableRows += `
                                    <button type="button"
                                            name="remove-card"
                                            class="btn btn-outline-danger btn-sm cancelBtn ml-2"
                                            aria-label="Left Align"
                                            title="Cancel"
                                            value="${tableData[i].id}">
                                        Cancel
                                    </button>`;

                            }

                            if (!tableData[i].isPremiumPaid) {

                                tableRows += `
                                    <button type="button"
                                            name="remove-card"
                                            class="btn btn-outline-success btn-sm payBtn ml-2 mt-1"
                                            aria-label="Left Align"
                                            title="Join"
                                            value="${tableData[i].id}">
                                        Pay Premium
                                    </button>`;
                            }

                            if (tableData[i].blockchain_url !== "") {
                                tableRows += `
                                    <a href="${tableData[i].blockchain_url}" class="btn btn-outline-success btn-sm ml-2 mt-1" target="_blank"> View on Blockchain</a>
                                    `
                            }

                            tableRows += `
                            </td>
                        </tr>`;
                        }
                        tableRows += `
                      </tbody>
                    </table>`;

                        $('#tableData').html(tableRows);
                        //$('#bookedDatesTable').DataTable();

                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }


            $('#tableData').on('click', '.cancelBtn', function () {

                let id = $(this).val(); // capture value of clicked button (date)

                $.ajax({
                    url: '/policies',
                    data: JSON.stringify(id),
                    contentType: 'application/json;charset=UTF-8',
                    type: 'DELETE',
                    success: function (response) {
                        $('#msg').removeClass('d-none').html(`<p class="p-3 ${response['class']} " >${response['msg']}</p>`)
                        setTimeout(() => {
                            $('#msg').addClass('d-none')
                        }, 3000)
                    },
                    error: function (error) {
                        console.log(error);
                    }
                }).done(function () {
                    loadData();
                });
            });

            $('#tableData').on('click', '.payBtn', function () {
                $('#loadersp').removeClass('d-none')

                let id = $(this).val(); // capture value of clicked button (date)

                $.ajax({
                    url: '/paypremium',
                    data: JSON.stringify(id),
                    contentType: 'application/json;charset=UTF-8',
                    type: 'POST',
                    success: function (response) {
                        $('#loadersp').addClass('d-none')
                        $('#msg').removeClass('d-none').html(`<p class="p-3 text-white ${response['class']} " >${response['msg']}</p>`)
                        setTimeout(() => {
                            $('#msg').addClass('d-none')
                        }, 3000)
                    },
                    error: function (error) {
                        console.log(error);
                    }
                }).done(function () {
                    loadData();
                });
            });


        });

    </script>
{% endblock %}

