<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset='utf-8'/>

    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon">
    {#<link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/bootstrap.min.css', _external=True, _scheme='http') }}">#}
    <link href="{{ url_for('static',filename='bootstrap/bootstrap4/swatch/{swatch}/bootstrap.min.css'.format(swatch=config.get('FLASK_ADMIN_SWATCH', 'default'))) }}"
          rel="stylesheet">
    {% if config.get('FLASK_ADMIN_SWATCH', 'default') == 'default' %}
        <link href="{{ url_for('static',filename='bootstrap/bootstrap4/css/bootstrap-theme.min.css') }}"
              rel="stylesheet">
    {% endif %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/style.css') }}">

    <title>Index Insurance</title>

    {% block style %} {% endblock %}

</head>

<body>
<header></header>


<div class="container my-3">
    {% include 'nav.html' %}

    <div class="mx-2">
        {% block content %} {% endblock %}
    </div>

</div>

<script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

{% block scripts %} {% endblock %}

</body>
</html>
