<nav class="topnav">
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('main_bp.index') }}" {% if request.path==url_for('main_bp.index') %}
           class="active"{% endif %}>
            Account
        </a>
        <a href="{{ url_for('main_bp.enrol') }}" {% if request.path==url_for('main_bp.enrol') %}
           class="active"{% endif %}>
            Join Policy
        </a>
        <a href="{{ url_for('main_bp.pay') }}" {% if request.path==url_for('main_bp.pay') %}
           class="active"{% endif %}>Pay
            Premium
        </a>
        <a href="{{ url_for('main_bp.payouts') }}" {% if request.path==url_for('main_bp.payouts') %}
           class="active"{% endif %}>
            Payouts
        </a>
        <a class="logout ml-3" href="{{ url_for('main_bp.logout') }}"> Logout </a>
    {% endif %}
</nav>